<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <title>Каталог</title>
</head>
<body>
<div>
  {% if user.is_authenticated %}
    <p>Вы вошли как {{ user.username }}</p>
    <form method="post" action="{% url 'logout' %}">
      {% csrf_token %}
      <button type="submit">Выйти</button>
    </form>
  {% else %}
    <a href="{% url 'login' %}">Войти</a> |
    <a href="{% url 'register' %}">Регистрация</a>
  {% endif %}
</div>
<hr>
  <h1>Каталог</h1>

  {% if products %}
    <ul>
      {% for product in products %}
  <li>
    <strong>{{ product.name }}</strong> — {{ product.price }} ₽
    <a href="{% url 'create_order' product.id %}">Заказать</a>
  </li>
{% endfor %}
    </ul>
  {% else %}
    <p>Товаров пока нет.</p>
  {% endif %}
</body>
</html>